h1 {
  font-weight: 400;
  line-height: 60px;
  vertical-align: top;
}
.container-sm {
  color: #202124;
  font-family: arial, sans-serif;
}
.weather-forecast {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.future-forecast {
  display: inline-block;
}

#search {
  margin: auto;
  max-width: 75%;
  border-radius: 4px;
}

.btn {
  margin: 25px 15px;
}
