h1 {
  font-weight: 400;
  line-height: 60px;
  vertical-align: top;
}
.container-sm {
  color: #202124;
  font-family: arial, sans-serif;
  max-width: 50%;
}
.temperature {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
}
.units {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
.details {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 170px;
  margin-top: -57px;
  vertical-align: top;
}
.currently {
  color: #70757a;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding-left: 170px;
  margin-top: -57px;
  vertical-align: top;
}
.future-forecast {
  display: inline-block;
}

#search {
  margin: 25px 0;
  max-width: 50%;
  border-radius: 4px;
}

.btn {
  margin: 25px 15px;
}
